*.vdf
*.3vm
*.2mdl
*.pyc
*~
*.isdb
*.py
*.1mdl
editor.aud
samples/pendulum/Untitled.cin

samples/teacup/teacup.py

samples/SIR/SIR.py

tests/lookups/test_lookups.py

tests/number_handling/test_number_handling.py
